{% extends "base.html" %}
{% load static %}

{% block extra-title %}- Shopping Cart{% endblock %}
{% block content %}
<div class="shadow-for-nav"></div>

<div class="container flex-fill">
    <div class="row header my-5 text-center">
        <div class="col">
            <h1>Shopping Cart</h1>
            <hr class="separator w-25">
        </div>
    </div>
    <div class="row cart-items-container">
        <div class="col">
            {% if cart_items %}
                <div class="d-none d-sm-block">
                    {% include 'cart/includes/cart_desktop.html' %}
                </div>
                <div class="d-block d-sm-none">
                    {% include 'cart/includes/cart_mobile.html' %}
                </div>
                {% else %}
                <div class="text-center mb-5">
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}?productline=tshirt&sort=name&direction=asc" class="btn button-blue rounded-0 btn-lg">
                        ← Keep Shopping!
                    </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}