{% extends "base.html" %}
{% load static %}

{% block extra-title %}- Shopping Bag{% endblock %}
{% block content %}
<div class="shadow-for-nav"></div>

<div class="container">
    <div class="row header my-5 text-center">
        <div class="col">
            <h1>Shopping Bag</h1>
            <hr class="separator w-25">
        </div>
    </div>
    <div class="row cart-items-container">
        <div class="col">
            {% if cart_items %}
            <div class="table-responsive rounded">
                        <table class="table table-sm">
                            <thead class="text-black">
                                <tr>
                                    <th scope="col">Item</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Qty</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            {% for item in cart_items %}
                                 <tr>
                                    <td class="p-3 w-25">
                                        <img class="img-fluid rounded" src="{{ item.lineitem.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.lineitem.product.display_text | title }}</strong></p>
                                        <p class="my-0 small text-muted">Size: {{ item.lineitem.size }}</p>
                                        <p class="my-0 small text-muted">{{ item.lineitem.product.productline.display_text }}</p>
                                        {% if item.lineitem.product.is_on_sale %}
                                        <p class="my-0 small cart-subtitle card-product-sale">Sale</p>
                                        {% elif item.lineitem.product.avail_for_pre_order %}
                                        <p class="my-0 small cart-subtitle card-product-preorder">Pre-Order</p>
                                         <p class="my-0 small cart-subtitle card-product-preorder">Dispatch Date: {{ item.lineitem.product.date_of_dispatch }}</p>
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                    {% if item.lineitem.product.is_on_sale or item.lineitem.product.avail_for_pre_order %}
                                    <p class="my-0">{{ item.lineitem.product.discount_price }}€</p>
                                    {% else %}
                                        <p class="my-0">{{ item.lineitem.product.price }}€</p>
                                    {% endif %}
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'update_cart' item.productvariant %}">
                                            {% csrf_token %}
                                               <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.productvariant }}" id="decrement-qty_{{ item.productvariant }}">
                                                           <span>
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                                                </svg>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number"
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                        data-item_id="{{ item.productvariant }}"
                                                        id="id_qty_{{ item.productvariant }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                            data-item_id="{{ item.productvariant }}" id="increment-qty_{{ item.productvariant }}">
                                                                <span>
                                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                                                </svg>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link text-info"><small>Update</small></a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">{{ item.subtotal }}€</p>
                                    </td>
                                    <td class="py-3">
                                    <form method="POST" action="{% url 'remove_from_cart' item.productvariant %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                            </svg>
                                        </button>
                                    <form>
                                    </td>
                                </tr>
                            {% endfor %}

                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Cart Total: {{ total|floatformat:2 }}€</strong></h6>
                                    <h6>Delivery: {{ delivery|floatformat:2 }}€</h6>
                                    <h4 class="mt-4"><strong>Grand Total: {{ grand_total|floatformat:2 }}€</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>{{ free_delivery_delta }}€</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="" class="btn rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block postloadjs %}
{{ block.super }}

{% include 'products/includes/qty_input_script.html' %}

<script type="text/javascript">
    // Taken from Botique Addo Project
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })
</script>
{% endblock %}