{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}


{% block extra-title %}- Congratulations!{% endblock %}
{% block content %}
<div class="shadow-for-nav"></div>

<div class="overlay"></div>

<div class="container mb-5 flex-fill">
    <div class="row header my-2 text-center">
        <div class="col">
            <h1>Thank you, {{ order.first_name | title }}!</h1>
            <hr class="separator w-25">
        </div>
    </div>
    <div class="row">
            <div class="col">
                <p class="text-center">Your order was successful. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>         
    </div>
    <div class="row">
        <div class="col-md-7 col-sm">
            <div class="row">
                <div class="col">
                    <h3>Order Summary</h3>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">Order: {{ order.order_number }}</p>
                    <p class="mb-0">Date: {{ order.date_order_placed }}</p>
                    <p class="mb-0">Total: {{ order.grand_total }}€</p>
                    {% if order.delivery_cost != 0 %}
                    <p class="mb-0">Delivery Cost: {{ order.delivery_cost }}€</p>
                    {% endif %}
                    <p class="mb-0">incl. Tax ({{ order.tax_rate | floatformat:"0" }}%): {{ order.total_tax }}€</p>
                </div>
            </div>
           <div class="row">
                <div class="col">
                    <hr>
                    <p class="my-1"><strong>Shipping Details</strong></p>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0">{{ order.first_name }} {{ order.last_name }}</p>
                    <p class="mb-0">{{ order.street_address1 }}</p>
                    {% if order.street_address2 %}
                    <p class="mb-0">{{ order.street_address2 }}</p>
                    {% endif %}
                    <p class="mb-0">{{ order.zipcode }} {{ order.town_or_city }}</p>
                    <p class="mb-0">{{ order.country }}</p>
                </div>
            </div>
           <div class="row">
                <div class="col">
                <hr>
                    <p class="my-1">Order Details</p>
                    <hr>
                </div>
            </div>                
            {% for item in order.lineitems.all %}
            <div class="row">
                <div class="col">
                    <p class="mb-0">{{ item.quantity }}x {{ item.productvariant.product.display_text | title }} {% if item.productvariant.size != 'NO' %} ({{ item.productvariant.size }}) {% endif %} - {{ item.lineitem_total }}€</p>
                </div>
            </div>
            {% endfor %}  
        </div>      
        <div class="col-md-5 col-sm">
            <img class="img-fluid" src="{{ MEDIA_URL }}thankyou.png">
        </div>         
    </div>
    <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn button-blue btn-sm rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">← Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}" class="btn button-blue rounded-0 my-2">
                        <span class="text-uppercase">Now check out the latest deals!</span>
                    </a>
                {% endif %}
			</div>
		</div>
</div>

{% endblock %}
