html {
  height: 100%;
}

body {
  color: #000000;
  font-family: "Open Sans";
  height:100
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Fredericka the Great;
}
/* individual nav styling */

nav {
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.5s ease;
}

nav button:focus {
  color: #f9a829;
  outline: none;
}

.nav-item,
.nav-link {
  color: #fff !important;
  font-weight: bold;
  font-family: Oswald;
  text-transform: uppercase;
  font-size: 1em;
}

.dropdown-menu {
  margin: 0 0 0;
  background-clip: none;
  border: 0px;
  border-radius: 0;
}

.navbar-toggler {
  color: white;
}

.nav-bar-toggler {
}
/* Navbar Scrolling */

.scrolling-active {
  background-color: #fff;
}

.scrolling-active .nav-item .nav-link {
  color: #000000 !important;
}

.scrolling-active .nav-link::after {
  background-color: #313131;
}

.scrolling-active button {
  color: #000000;
}

/* Dropbar wide */
.dropdown-menu {
  border-radius: 0rem;
}

.button-size {
  width: 70%;
  height: 25%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 125%;
  line-height: 125%;
  border-radius: 0%;
}

.button-white {
  border: 0.1875em solid #fff;
  color: #ffffff;
}

.button-dark {
  border: 0.1875em solid #294b93;
  color: #294b93;
}

.button-blue {
  background: #294b93;
  color: #ffffff;
}

.button-blue:hover {
  color: #294b93;
  text-decoration: none;
  background: #fff;
}

.button-blue:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem #294b93;
}

.feat-nav-drop-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.feat-nav-drop-img {
  width: 100%;
  min-height: 375px;
  object-fit: cover;
  filter: brightness(50%);
}

.categorie-header {
  text-transform: capitalize;
  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
}

.categorie-separator {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
}

/* Landing Page Caroussel */

.behind-nav-carousel {
  margin-top: -76px;
}

.carousel-item {
  height: 95vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-indicators li {
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  opacity: 1;
  background-color: #fff;
}

.carousel-indicators .active {
  opacity: 1;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f9a829;
}

.separator {
  width: 33%;
  border: 1.15879px solid #f9a829;
  filter: blur(1.15879px);
}

/* Header for Subpages */

.header-title {
    width: 100%;
    height: 264px; 
    background: url("/media/placeholder_categories.jpg") no-repeat center center;
    background-size: 100%;
    margin-bottom: 2rem;
}

.header-title h1,h2 {
    color: #fff;
}
.header-text {
    padding-top: 7rem;
}
/* Footer Styling */

footer {
  width: 100%;
  height: 100%;
  background: #22396f;
  color: #fff;
}

.footer-newsletter-button {
  color: #f9a829;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-left: none;
}

.footer-newsletter-button:hover {
  color: #fff;
  background-color: #f9a829;
  border: 1px solid #ced4da;
  border-left: none;
}

.footer-newsletter-button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.05rem #f9a82978;
}

.footer-text {
  font-size: 0.7rem;
  color: #fff;
  font-family: "Open Sans";
}

.footer-header {
  font-size: 0.8rem;
  color: #fff;
  font-family: "Oswald";
  text-transform: uppercase;
}

.footer-copyright {
  font-size: 0.6rem;
  color: #9d9d9c;
}

footer .separator {
    width: 100%;
    border: 0.2px solid #d39e00;
    filter: blur(1px);
}

/* Footer Subscription box */

.subscribe-field {
  height: 38px;
  font-size: 0.7rem;
  font-family: "Open Sans";
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f9a829;
  outline: 0;
  box-shadow: 0 0 0 0.01rem #d39e00;
}

/* Product Card */
.card-product-name {
    font-family: 'Oswald';
    font-size: 1.5rem;
}

.card-product-price, .card-product-sale, .card-product-preorder  {
    font-family: 'Oswald';
    font-size: 1.25rem;
}
.card-product-sale {
 color: #DF101D;
}

.card-product-preorder {
 color: #22396F;
}

/* Reference to fonts for styling Process
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Sacramento', cursive;
*/
