html {
  height: 100%;
}

body {

  color: #000000;
  font-family: "Open Sans";
}
/* individual nav styling */

nav {
    background-color: rgba(255, 255, 255, 0);
    transition: background-color .5s ease;
}

.nav-item, .nav-link {
    color: #fff!important;
    font-weight: bold;
    font-family: Oswald;
    text-transform: uppercase;
    font-size: 1em;
}


/* Navbar Scrolling */

.scrolling-active {
    background-color: #fff;
}

.scrolling-active .nav-item .nav-link {
    color: #000000!important;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}


/* Dropbar wide */
.dropdown-menu {
  border-radius: 0rem;
}

.button-size {
  width: 70%;
  height: 25%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 125%;
  line-height: 125%;
}

.button-white {
  border: 0.1875em solid #fff;
  color: #ffffff;
}

.button-dark {
  border: 0.1875em solid #294b93;
  color: #294b93;
}

.feat-nav-drop-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
}

.feat-nav-drop-img {
  width: 100%;
  min-height: 375px;
  object-fit: cover;
  filter: brightness(50%);
}

.categorie-header {
  text-transform: capitalize;
  font-family: Fredericka the Great;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
}

.categorie-separator {
  width: 33%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1.5rem;
  border: 1.15879px solid #f9a829;
  filter: blur(1.15879px);
}

/* Landing Page Caroussel */

.behind-nav-carousel {
    margin-top: -76px;
}

.carousel-item {
  height: 85vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Reference to fonts for styling Process
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Sacramento', cursive;
*/
