html {
    height: 100%;
}

body {
    background: url('/media/index_background.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000000;
    font-family: 'Open Sans';
}

.nav-item {
    font-family: 'Oswald', sans-serif;
}




/* Reference to fonts for styling Process
font-family: 'Fredericka the Great', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Sacramento', cursive;
*/