<li class="nav-item dropdown position-static">
  <a
    class="nav-link"
    href="#"
    id="dropdownSearchBar"
    role="button"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="true"
  >
    <svg
      width="1em"
      height="1em"
      viewBox="0 0 16 16"
      class="bi bi-search"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
      ></path>
      <path
        fill-rule="evenodd"
        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
      ></path>
    </svg>
  </a>
  <div class="dropdown-menu w-100" aria-labelledby="navbarDropdown">
    <form method="GET" action="{% url 'products' %}">
      <div class="form-row col-xl-4 col-lg-6 col-sm mx-auto align-items-center">
        <div class="input-group input-group">
          <input
            class="form-control py-2 border-right-0 border"
            type="search"
            value=""
            name="q"
            id="search"
            placeholder="Search our products..."
          />
          <span class="input-group-append">
            <button
              class="btn border-left-0 border"
              type="submit"
              id="searchbtn"
            >
              <svg
                width="1em"
                height="1em"
                class="bi bi-search"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"
                ></path>
                <path
                  fill-rule="evenodd"
                  d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"
                ></path>
              </svg>
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</li>
