<!--- Shopping Cart Drawer -->

<!-- IF CART FILLED -->
{% if cart_items %}
<div class="has-items">
	<div class="top-cart-items">
		{% for item in cart_items %}
		<div class="product-box mt-3">
			<div class="row">
				<div class="col">
					<a class="img-link" href="{% url 'product_detail' item.lineitem.product.id %}">
						{% if item.lineitem.product.image %}
						<img class="w-100" src="{{ item.lineitem.product.image.url }}" alt="{{ item.lineitem.product.display_text | title }}">
                        {% else %}
						<img class="w-100" src="{{ MEDIA_URL }}/noimage.png" alt="{{ item.lineitem.product.display_text | title }}">
                        {% endif %}
                        </a>
				</div>
				<div class="col d-flex align-items-start flex-column">
					<p class="item-title card-product-name-small"><a
							href="{% url 'product_detail' item.lineitem.product.id %}">{{ item.lineitem.product.display_text | title }}</a>
					</p>
					<ul class="item-specs">
						<li class="text-muted"><small>{{ date.time_now }}{{ item.lineitem.product.color | title }} /
                                {{ item.lineitem.size }}</small></li>
						{% if item.lineitem.product.is_on_sale %}
						<li>
							<p class="my-0 cart-subtitle  card-product-sale-small">Sale</p>
						</li>
						{% elif item.lineitem.product.avail_for_pre_order %}
						<li class="card-product-preorder-small">
							<span> Pre-Order</span>
						</li>
						<li class="card-product-preorder-small">
							<span>Dispatch date:</span>
							<span>{{ item.lineitem.product.date_of_dispatch }}</span>
						</li>
						{% endif %}
					</ul>
					<div class="quantity-control-sm text-muted mt-auto text-center">
						<small>
                                <form class="d-inline text-center" method="POST" action="{% url 'decrease_quantity_by_one' item.productvariant %}">
                                            {% csrf_token %}
                                        <button type="submit" class="btn btn-sm p-0">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-dash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"></path>
                                            </svg>
                                        </button> 
                                </form>                                    
                                <span class="p-0">{{ item.quantity }}</span>
                                <form class="d-inline" method="POST" action="{% url 'increase_quantity_by_one' item.productvariant %}">
                                            {% csrf_token %}
                                    <button type="submit" class="btn btn-sm p-0">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                        </svg>
                                    </button>
                                </form>
                            </small>
					</div>
				</div>

				<div class="col card-product-price-small d-flex align-items-end flex-column">

					<form method="POST" action="{% url 'remove_from_cart' item.productvariant %}">
						{% csrf_token %}
						<button type="submit" class="align-top btn btn-sm">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="align-top bi bi-x-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"></path>
                                                </svg>
                                            </button>
					</form>
					<span class="mt-auto p-2">
                                    {{ item.subtotal }}€
                        </span>

				</div>
			</div>
		</div>
		{% endfor %}
	</div>




	<div class="cart-footer">
		<div class="d-flex justify-content-between">
			<span>Total <small>incl. Shipping & Tax</small></span>
			<span id="cart-pop-price" >{{ grand_total |floatformat:2 }}€ </span>
		</div>
		<div class=" d-flex align-items-left flex-column w-100">
			<a href="{% url 'checkout' %}" class="btn rounded-0 button-blue">CHECKOUT</a>
			<a href="{% url 'view_cart' %}" class="text-muted"><small>← Go to cart</small></a>
		</div>
		<!-- IF CART EMPTY -->
		{% else %}
		<div class="no-items">
			<p>It appears that your cart is currently empty!</p>
			<img src="{{ MEDIA_URL }}thankyou.png" class="img-fluid p-5" alt="">
			<a href="{% url 'products' %}?productline=sweat,tshirt&sort=name&direction=asc" class="btn btn button-blue rounded-0" rel="nofollow">Continue Shopping</a>
		</div>
		{% endif %}
	</div>
</div>
