{% extends "base.html" %} {% load static %}
{% block extra-title %}- About us
{% endblock %}
{% block content %}

<div class="shadow-for-nav"></div>

<div class="container flex-fill ">
	<div class="row header mb-3 mt-5 text-center">
		<div class="col">
			<h1>About us</h1>
			<hr class="separator w-25" />
		</div>
	</div>
	<div class="row mb-5">
		<div class="col text-center">
			<div class="w-50 mx-auto">
				We at <strong>Puffins</strong> are dedicated to provide beautiful, uniting and sustainable products to
				individuals, love birds and families.
			</div>
		</div>
	</div>
	<div class="row mb-5">
		<div class="col text-center">
			<h3>Our Vision</h3>
			<hr class="w-25">
			<div>
				At Puffins we believe that everything has a purpose. With our method to only produce whats demanded by
				our customers and delivering longlasting quality products we want to counter the biggest problems of the
				western society. Our products are locally produced and we only use materials where we know the origin,
				to guarantee 100% ethical and sustainable products.
			</div>
		</div>
	</div>
	<div class="row mb-5" id="our-story">
		<div class="col text-center">
			<h3>Our Story</h3>
			<hr class="w-25">
			<div>
				We are a small family that shares the desire to spend as much time outside as possible. Our interests
				range from bird watching, wave and kite surfing, fishing, hiking, running, traveling, camping and
				climbing to cooking, making smores over a campfire, studying sunsets and much much more. With the love
				for the outdoors and an active lifestyle we want to provide beautiful and sustainable products to
				like-minded awesome people and build a caring, sustainable and inspiring community.
			</div>
		</div>
	</div>
</div>
{% endblock %}