{% extends "base.html" %}
{% load static %}
{% block extra-title %}- {{ product.name }}{% endblock %}
{% block content %}

<div class="shadow-for-nav"></div>

<div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm">
                <div class="image-container my-5">
                        <a href="">
                            <img class="card-img-top img-fluid" src="../media/noimage.jpg" alt="terrific">
                        </a>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">terrific</p>
                    <p class="lead mb-0 text-left font-weight-bold">$50.00</p>
                    <p class="mt-3"></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}