{% extends "base.html" %}
{% load static %}
{% block extra-title %}- {{ product.display_text  }}{% endblock %}
{% block content %}

<div class="shadow-for-nav"></div>

<div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-7 col-sm">
                <div class="image-container my-5">
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.display_text }}">
                        </a>
                </div>
            </div>
            <div class="col-md-5 col-lg-5 col-sm">
                <div class="product-details-container mb-5 mt-md-5">
                    <h1 class="product-details-title">{{ product.display_text | title }}</h1>
                        <div class="price-container">
                            {% if product.is_on_sale or product.avail_for_pre_order %}
                                <div class="d-inline lead mr-3 font-weight-bold">{{ product.discount_price }}€</div>
                                <div class="d-inline lead font-weight-bold original-price"><s>{{ product.price }}€</s></div>
                            {% else %}
                                <div class="d-inline lead font-weight-bold">{{ product.price }}€</div>
                            {% endif %}
                       </div>
                            {% if product_variants.count > 1 %}
                                <div class="size-container">
                                {% for variant in product_variants %}
                                    {% if variant.quantity == 0 %}
                                        <button type="button" class="btn btn-primary" disabeld>{{ variant.size.get_shirt_size_display }}</button>
                                    {% else %}
                                        <button type="button" class="btn btn-primary">{{ variant.size.get_shirt_size_display }}</button>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                       </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}